body{
   padding:100px 300px 300px 300px;
   /* background-color: rgb(42, 51, 54); */
   justify-content: left;
}
.div1{
  justify-content: center;
}
.App {
  text-align: center;
  
  background-color: rgb(180, 204, 235);
  box-shadow: 5px 10px #c7c2c2;
  border-radius: 40px;
}

.par1{
  /* background-color: rgb(223, 158, 121); */
  padding-top: 0%;
  /* padding:  30px 30px; */
  color: white;
}


.button {
  background-color: #c4b2a7; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.img{
  border-radius: 50%;
  text-align: left;
}

.Todo{
  text-align: left;
  padding: 20px 30px 20px 30px;
}